
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container  p-4">
    <div class="card">
        <table class="table">
            <!--Table head-->
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                <style>
                    td {
                        padding: 5px !important;
                        line-height: 50px;
                    }
                </style>
            </tbody>
            <!--Table body-->
        </table>
            


    </div>
    <div class="card" style="margin-top:10px">
        <form class="p-2 needs-validation">
            <div class="md-form">
                <input type="text" name="name" id="name" required class="form-control">
                <label for="name" class="">Họ và Tên</label>
            </div>
            <div class="md-form">
                <input type="email" name="email" id="email" required class="form-control">
                <label for="email" class="">Email</label>
            </div>
            <div class="md-form row">
                <div class="form-group col-6">
                    <input checked name="type" type="radio" id="paypal">
                    <label for="paypal">Paypal</label>
                </div>
                <div class="form-group col-6">
                    <input name="type" type="radio" id="credit">
                    <label for="credit">Credit</label>
                </div>
            </div>
            <div class="md-form">
                <input type="text" name="stk" id="stk" required class="form-control">
                <label for="stk" class="">Số tài khoản</label>
            </div>
            <button type="submit" class="btn btn-primary">Thanh toán</button>
        </form>
    </div>

</div>
<script>

    function setTotal() {
        var myStore = JSON.parse(localStorage.getItem('product'));
        var el = $('h3[data-target="total"]');
        var total = 0;
        if (myStore) {
            myStore.map(function (el) {
                total += el.price * el.quantity;
            });
        }
        $(el).html(total);
    }

    function bindingEvent() {
        $('input[data-target="quantity"]').on('input', function () {
            var input = $(this).closest('td').find('input');
            var total = $(this).closest('tr').find('.total');
            var price = parseInt($(this).closest('td').data('price'));
            var quantity = parseInt($(input).val());
            var currentIndex = -1;
            var id = $(this).data('id');
            var myStore = JSON.parse(localStorage.getItem('product'));
            if (myStore) {
                if (quantity) {
                    if (quantity >= 1 && quantity <= 100) {
                        myStore.map(function (el, index) {
                            if (el.id == id) {
                                currentIndex = index;
                            }
                        });
                        console.log(currentIndex);
                        var newP = quantity * price;
                        $(total).html(newP + ' $');
                        myStore[currentIndex].quantity = quantity;
                        localStorage.setItem('product', JSON.stringify(myStore));
                        setTotal();
                    } else {
                        $(total).html('0 $');
                    }
                } else {
                    $(total).html('0 $');
                }
                
            }

        })

        $('a[data-target="remove"]').on('click', function () {
            var id = $(this).data('id');
            var currentIndex = -1;
            var myStore = JSON.parse(localStorage.getItem('product'));
            myStore.map(function (el, index) {
                if (el.id == id) {
                    currentIndex = index;
                }
            });
            if (currentIndex != -1) {
                myStore.splice(currentIndex, 1);
                $(this).closest('tr').remove();
                localStorage.setItem('product', JSON.stringify(myStore));
                setTotal();
            }
        })
    }

    (function render() {
        var store = JSON.parse(localStorage.getItem('product'));
        console.log(store);
        if (store) {
            var total = 0;
            $(store).each(function (index, el) {
                total += el.price * el.quantity;
                $('.table tbody').append('<tr>\n' +
                    '                <td>\n' +
                    '                    ' + (index + 1) + '\n' +
                    '                </td>\n' +
                    '                <td>\n' +
                    '                    <img style="width: 80px; height: 80px" src="' + el.image + '" alt="Alternate Text" />\n' +
                    '                </td>\n' +
                    '                <td>\n' +
                    '                       ' + el.name +
                    '\n' +
                    '                </td>\n' +
                    '                <td>\n' +
                    '                       ' + el.price +
                    '                    $\n' +
                    '                </td>\n' +
                    '                <td class="quantity" data-price="' + el.price + '">\n' +
                    /**/
                    '             <input max="100" min="1" data-target="quantity" data-id="' + el.id + '" style= "width: 50px; height: 50px; text-align: center" type= "number"    value= "' + el.quantity + '" />' +
                    /**/
                    '                    \n' +
                    '                </td>\n' +
                    '                <td  class="total">\n' +
                    '                      ' + el.price * el.quantity +
                    '                $</td>\n' +
                    '                <td>\n' +
                    '                    <a data-target="remove"  data-id="' + el.id + '"><i class="fa fa-times"></i></a>\n' +
                    '                </td>\n' +
                    '            </tr>');
                if (index == store.length - 1) {
                    bindingEvent();
                };
            })
            $('.table tbody').append('<tr><td colspan="5"><h3 class="text-center">Tổng cộng : </h3></td><td><h3 data-target="total">' + total + '</h3></td><td><h3>$</h3></td></tr>')
        }
    })();

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    //code back end submit ở đây
                    //
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>
<!--Table-->
